.overflowBody {
  overflow: hidden !important;
}
.header {
  // background-color: red;
  display: flex;
  padding: 0 20px;
  height: 10vh;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: #fff;
  justify-content: space-between;
  box-shadow: 0 0px 10px 0.5px rgba(0, 0, 0, 0.5);
  transition: 0.5s all;
  z-index: 10;
  transition: all 0.3s ease; // Transición suave para animar cambios

  &.hidden {
    transform: translateY(-100%); // Oculta el encabezado hacia arriba
    visibility: hidden; // Oculta el encabezado
  }

  &.x {
    background-color: #252626;
    transition: 0.5s all;
  }
  &-hamburguer {
    background-color: #fff;
    border: none;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.5s all;

    &::after {
      position: absolute;
      content: "";
      left: 0;
      width: 100%;
      top: 10px;
      height: 2px;
      background-color: #35403a;
      transition: 1s all;
    }
    &::before {
      position: absolute;
      content: "";
      right: 0;
      bottom: 10px;
      width: 80%;
      height: 2px;
      background-color: #35403a;
      transition: 0.5s all;
    }

    &.x {
      background-color: #252626;
      transition: 0.5s all;
      &::before {
        background-color: #fff;
        transform: rotate(45deg);
        width: 100%;
        transition: 0.5s; // all;
        top: 11px;
      }
      &::after {
        background-color: #fff;
        transform: rotate(-45deg);
        transition: 0.5s all;
      }
    }
  }
  &-img {
    min-width: 10%;
    height: 75%;
    background-image: url("https://i.imgur.com/jLnrQlJ.png");
    background-size: contain;
    // background-clip: content-box;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s all;
  }
  &-img.x {
    background-image: url("https://i.ibb.co/TtY76nR/image-2.png");
    transition: 0.5s all;
  }
  &-menu.x {
    // display: none;
    opacity: 1;
    animation: opacityIn 0.5s ease forwards;
    display: block;
  }
  &-menu {
    position: absolute;
    width: 100%;
    height: 90vh;
    left: 0;
    opacity: 0;
    top: 10vh;
    display: none;
    background-color: #252626;
    // background-color: #a5262a;
    animation: opacityOut 0.5s ease forwards;
    //   display: none;

    &-ul {
      list-style: none;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      &-li {
        &-link {
          text-decoration: none;
          color: #fff;
          font-size: 1.6rem;
          &-sp {
            font-size: 1.6rem;
            font-weight: 700;
          }
        }
      }
    }
  }
}
// .header.x{
//   // background-color: red;
//   background-color: #252626;
// }
@keyframes opacityIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes opacityOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    // display: none;
  }
}

@media screen and (min-width: 768px) {
  .overflowBody {
    overflow: visible !important;
  }
  .header {
    // background-color: red;
    &.x {
      background-color: #fff;
      transition: 0.5s all;
    }
    &-img.x {
      background-image: url("https://i.imgur.com/jLnrQlJ.png");
      transition: 0.5s all;
    }
    &-hamburguer {
      display: none;
    }
    &-menu {
      background-color: #fff;
      position: relative;
      width: 70%;
      height: 10vh;
      display: flex;
      opacity: 1;
      animation: none;
      top: 0;
      &-ul {
        flex-direction: row;
        gap: 20px;
        &-li {
          &-link {
            // text-decoration: none;
            color: #35403a;
            font-weight: 700;
            font-size: 1.8rem;
          }
        }
      }
    }
  }
}
